{% extends "homebase.html" %}



{% block title %}Sıkça Sorulan Sorular{% endblock %}
{% block keywords %}{{ setting.keywords }}{% endblock %}
{% block description %}{{ setting.description }}{% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}'/>

    <script>
        $(function () {
            $("#accordion").accordion();
        });
    </script>

{% endblock %}



{% block content %}

    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">Sıkça Sorulan Sorular</li>

                <div id="contact-page" class="container">
                    <div class="bg">
                        <div class="row">
                            <div class="col-sm-12">
                                <h2 class="title text-center"><strong>SSS</strong></h2>

                                <div id="accordion">
                                    {% for rs in faq %}
                                        <h3>  {{ rs.question }}</h3>
                                        <div>
                                            <p>{{ rs.answer }}</p>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ol>
        </div>
    </div>
{% endblock %}