{% load static %}

<footer id="footer" ><!--Footer-->




    <div class="footer-bottom" style="">
        <div class="container">
            <div class="row" style="margin-top: 2%;margin-bottom: 2% ">
                <p class="pull-left">Copyright © 2013 E-SHOPPER Inc. All rights reserved.</p>
                <p class="pull-right">Designed by <span><a target="_blank" href="http://www.themeum.com">Themeum</a></span></p>
            </div>
        </div>
    </div>

</footer><!--/Footer-->


<script src="{% static 'js/bootstrap.min.js'%}"></script>
<script src="{% static 'js/jquery.scrollUp.min.js'%}"></script>
<script src="{% static 'js/price-range.js'%}"></script>
<script src="{% static 'js/jquery.prettyPhoto.js'%}"></script>
<script src="{% static 'js/main.js'%}"></script>