{% load static %}


<script>
    $(function () {
        $("#query").autocomplete({
            source: "/search_auto/",
            select: function (event, ui) { //item selected
                AutoCompleteSelectHandler(event, ui)
            },
            minLength: 2,
        });
    });

    function AutoCompleteSelectHandler(event, ui) {
        var selectedObj = ui.item;
    }
</script>
<header id="header"><!--header-->
    <div class="header_top"><!--header_top-->
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="col-sm-6">
                    <div class="social-icons pull-right">
                        <ul class="nav navbar-nav">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header_top-->




    <div class="header-middle" style="background-color: #a58e63"><!--header-middle-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="logo pull-left">
                        <a href="http://127.0.0.1:8000/"><i class="fas fa-laptop-code" style="size: 100px;width: 30px"><img src="{% static 'images/home/logo2.png' %}" alt="" style="height: 55px"/></i></a>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="shop-menu pull-right">
                        <ul class="nav navbar-nav">
                            {% if user.id is not None %}
                                <li><a href="/user/"><i class="fa fa-user"></i> {{ user.first_name }}</a></li>
                                <li><a href="/logout/" ><i class="fa fa-sign-out"></i> Logout</a></li>
                            {% else %}
                                <li><a href="/login/"><i class="fa fa-lock"></i> Login</a></li>
                                <li><a href="/signup/"><i class="fa fa-user"></i> Sign Up</a></li>
                            {% endif %}


                        </ul>
                    </div>
                </div>
            </div>
            <hr style="color: black;  height: 1px;background-color: black;margin: 0px">
        </div>

    </div><!--/header-middle-->

    <div class="row">
        <div class="header-bottom" style="background-color: #a58e63"><!--header-bottom-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-7">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                                    data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="mainmenu pull-left" >
                            <ul class="nav navbar-nav collapse navbar-collapse" >
                                <li><a href="/" style="">Anasayfa</a></li>
                                <li><a href="/hakkimizda" style="">Hakkımızda</a></li>
                                <li class="dropdown"><a href="#">Kategoriler<i class="fa fa-angle-down"></i></a>
                                    {% load mptt_tags %}
                                    <ul role="menu" class="sub-menu" >
                                        {% recursetree category %}
                                            <li {% if not node.is_leaf_node %}  role="menu" class="sub-menu"  {% endif %}> <a href="/category/{{ node.id }}/{{ node.slug }}">{{ node.title }}<i{% if not node.is_leaf_node %}
                                                class="fa fa-angle-down"{{ node.id.next }} {% endif %}></i></a>


                                                {% if not node.is_leaf_node %}
                                                    <ul>
                                                        <a href="/category/{{ node.id }}/{{ node.slug }}">{{ children }}</a>
                                                    </ul>
                                                {% endif %}

                                            </li>
                                        {% endrecursetree %}
                                    </ul>
                                </li>
                                <li><a href="/referanslar" style="">Referanslar</a></li>
                                <li><a href="/sss" style="">SSS</a></li>
                                <li><a href="/iletisim" style="">İletişim</a></li>


                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-5">

                        <form action="/search/" method="post">
                            {% csrf_token %}

                            <select name="catid" class="col-sm-4" style="height: 36px">
                                <option value="0">All Categories</option>
                                {% load mptt_tags %}
                                {% recursetree category %}
                                    {% if node.is_leaf_node %}
                                        <option value="{{ node.id }}">{{ node.title }}</option>{% endif %}
                                    {% if not node.is_leaf_node %}
                                        <optgroup label="{{ node.title }}">
                                            {{ children }}
                                        </optgroup>
                                    {% endif %}
                                {% endrecursetree %}
                            </select>

                            <div class="searchform">
                                <input id="query" name="query" type="text" placeholder="Search" style="width: 254px;height: 36px"/>
                                <button class="fa fa-search" style="height: 36px;margin-top: -2px"></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div><!--/header-bottom-->
    </div>
</header><!--/header-->