{% extends "homebase.html" %}

{% block title %}{{ product.title }}{% endblock %}
{% block keywords %}{{ product.keywords }}{% endblock %}
{% block description %}{{ product.description }}{% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}' />
{% endblock %}


{% block content %}


    <section id="cart_items">

    <div class="container">

        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="http://127.0.0.1:8000/">Home</a><li>/</li></li>
                <li><a href="/category/{{product.category_id}}/{{product.category.slug}}">{{product.category}}</a><li>/</li></li>
                <li class="active">{{product.title}}</li>
            </ol>
        </div><!--/breadcrums-->
    </div>

    <div id="contact-page" class="container">

        <div class="bg">
            <div class="row ce">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <div class="col-sm-12 padding-right">
                        <div class="product-details"><!--product-details-->
                            <div class="col-sm-12">
                                <h1 style="color: orange">{{ product.title }}</h1>
                                <p>{{ product.create_at }}</p>
                                <br>
                                <p>{{product.detail | safe}}</p>
                            </div>

                        </div><!--/product-details-->
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="container">
    <div class="category-tab shop-details-tab"><!--category-tab-->
        <div class="col-sm-12">
            <ul class="nav nav-tabs">


                <li class="active"><a href="#reviews" data-toggle="tab">Reviews</a></li>
            </ul>
        </div>
        <div class="tab-content">

            <div class="tab-pane fade active in" id="reviews" >
                <div class="col-sm-12">
                    <div class="col-sm-6">
                        {% for rs in comments %}
                            <ul>
                                <li><a href=""><i class="fa fa-user"></i>{{ rs.user.first_name }}</a></li>

                                <li><a href=""><i class="fa fa-calendar-o"></i>{{ rs.create_at }}</a></li>
                                <li>
                                    <i class="fa fa-star{% if rs.rate < 1 %}-o{% endif %}" style="color: yellowgreen"></i>
                                    <i class="fa fa-star{% if rs.rate < 2 %}-o{% endif %}" style="color: yellowgreen"></i>
                                    <i class="fa fa-star{% if rs.rate < 3 %}-o{% endif %}" style="color: yellowgreen"></i>
                                    <i class="fa fa-star{% if rs.rate < 4 %}-o{% endif %}" style="color: yellowgreen"></i>
                                    <i class="fa fa-star{% if rs.rate < 5 %}-o{% endif %}" style="color: yellowgreen"></i>
                                </li>

                            </ul>
                            <ul>
                                <li><b>{{ rs.subject }}</b></li><br>
                                <li><p>{{ rs.comment }}</p></li>
                            </ul>
                        {% endfor %}
                    </div>
                    <div class="col-sm-6">
                        <h4><b>Write Your Review</b></h4>
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }}" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                        <form  action="/product/addcomment/{{ product.id }}" method="post">
                            {% csrf_token %}
                            <span><input class="input" type="text" name="subject" placeholder="Subject"/>

                                                    <textarea class="input"  name="comment" placeholder="Your Review"></textarea>

                                                    <div class="rating-area">
                                                        <b>Rating:</b>
                                                    </div>
                                                    <div class="rate">
                                                        <input type="radio" id="star5" name="rate" value="5" />
                                                        <label for="star5" title="text">5 stars</label>
                                                        <input type="radio" id="star4" name="rate" value="4" />
                                                        <label for="star4" title="text">4 stars</label>
                                                        <input type="radio" id="star3" name="rate" value="3" />
                                                        <label for="star3" title="text">3 stars</label>
                                                        <input type="radio" id="star2" name="rate" value="2" />
                                                        <label for="star2" title="text">2 stars</label>
                                                        <input type="radio" id="star1" name="rate" value="1" />
                                                        <label for="star1" title="text">1 star</label>
                                                    </div>


                                                    <div>
                                                    {% if user.id is not None %}
                                                        <button class="btn btn-default pull-right" >
                                                            Submit
                                                        </button>
                                                    {% else %}
                                                        Yorum eklemek için <a href="/login">Login</a> Olunuz.
                                                    {% endif %}
                                                    </div>
                                                    </span>

                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div><!--/category-tab-->
    </div>
{% endblock %}
