{% extends "homebase.html" %}



{% block title %}{{ product.title }}{% endblock %}
{% block keywords %}{{ product.keywords }}{% endblock %}
{% block description %}{{ product.description }}{% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}' />
{% endblock %}



{% block content %}
    <section id="cart_items">
        <div class="container">
            <div class="breadcrumbs">
                <ol class="breadcrumb">
                    <li><a href="http://127.0.0.1:8000/">Home</a><li>/</li></li>
                    <li><a href="/category/{{product.category_id}}/{{product.category.slug}}">{{product.category}}</a><li>/</li></li>
                    <li class="active">{{product.title}}</li>
                    <hr>

            <div id="contact-page" class="container">
                <div class="bg">
                    <div class="row">
                        <div class="col-sm-12 ">
                            <div class="col-sm-12 padding-right">
                                <div class="product-details"><!--product-details-->
                                    <div class="col-sm-1"></div>
                                <div class="col-sm-4">
                                    <div class="view-product" id="content"><a href="{{product.image.url}}">
                                        <img src="{{product.image.url}}" alt="" style="height: 350px " id="image"/></a>
                                        <h3>FILE</h3>
                                    </div>
                                    <div id="similar-product" class="carousel slide" data-ride="carousel">
                                          <!-- Wrapper for slides -->
                                            <div class="carousel-inner">

                                                <div class="item active">
                                                  <a href="{{product.image.url}}"><img src="{{product.image.url}}" alt="" style="height: 100px"></a>
                                                  {% for rs in images %}
                                                    <a href="{{rs.file.url}}"><img src="{{rs.file.url}}" alt="" style="height: 100px"></a>
                                                    {% endfor %}

                                                </div>
                                                <div class="item">
                                                  <a href="{{product.image.url}}"><img src="{{product.image.url}}" alt="" style="height: 100px"></a>
                                                  {% for rs in images %}
                                                    <a href="{{rs.file.url}}"><img src="{{rs.file.url}}" alt="" style="height: 100px"></a>
                                                    {% endfor %}

                                                </div>


                                            </div>

                                          <!-- Controls -->
                                          <a class="left item-control" href="#similar-product" data-slide="prev">
                                            <i class="fa fa-angle-left"></i>
                                          </a>
                                          <a class="right item-control" href="#similar-product" data-slide="next">
                                            <i class="fa fa-angle-right"></i>
                                          </a>
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <div class="product-information"><!--/product-information-->

                                        <h2>{{product.title}}</h2>


                                        <h5><span>Nota ulaşmak için :</span></h5>
                                        <p>{{ product.detail |safe }}</p>

                                        <a href=""><img src="images/product-details/share.png" class="share img-responsive"  alt="" /></a>
                                    </div><!--/product-information-->
                                </div>
                            </div><!--/product-details-->



				</div>
                        </div>
                    </div>
                </div>
            </div>
    </ol>
            </div><!--/breadcrums-->
<div class="category-tab shop-details-tab"><!--category-tab-->
                                <div class="col-sm-12">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a href="#details" data-toggle="tab">Details</a></li>

                                        <li ><a href="#reviews" data-toggle="tab">Reviews (5)</a></li>
                                    </ul>
                                </div>
                                <div class="tab-content">
                                    <div class="tab-pane fade active in" id="details" >
                                        <div class="col-sm-3">
                                            <p>{{ product.detail | safe }}</p>
                                        </div>
                                    </div>



                                    <div class="tab-pane fade " id="reviews" >
                                        <div class="col-sm-12">
                                            <ul>
                                                <li><a href=""><i class="fa fa-user"></i>EUGEN</a></li>
                                                <li><a href=""><i class="fa fa-clock-o"></i>12:41 PM</a></li>
                                                <li><a href=""><i class="fa fa-calendar-o"></i>31 DEC 2014</a></li>
                                            </ul>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                            <p><b>Write Your Review</b></p>

                                            <form action="#">
                                                <span>
                                                    <input type="text" placeholder="Your Name"/>
                                                    <input type="email" placeholder="Email Address"/>
                                                </span>
                                                <textarea name="" ></textarea>
                                                <b>Rating: </b> <img src="images/product-details/rating.png" alt="" />
                                                <button type="button" class="btn btn-default pull-right">
                                                    Submit
                                                </button>
                                            </form>
                                        </div>
                                    </div>

                                </div>
                            </div><!--/category-tab-->
{% endblock %}
