{% load static %}
<section id="slider"><!--slider-->
    <div class="container">
        <hr>
        <div class="row">
            <div class="col-sm-12 right">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" data-slide-to="0"></li>
                        <li data-target="#slider-carousel" data-slide-to="1" ></li>
                        <li data-target="#slider-carousel" data-slide-to="2"></li>
                        <li data-target="#slider-carousel" data-slide-to="3"></li>

                    </ol>

                    <div class="carousel-inner">
                        <div class="item active">

                            <div class="col-sm-6">
                                <h1><span>E</span>-NOTTER</h1>
                                <h2>{{sliderone.title}}</h2>
                                <p>{{sliderone.description}}</p>
                                <a href="/product/{{ sliderone.id }}/{{ sliderone.slug }}" type="button" class="btn btn-default get">Nota bak</a>
                            </div>
                            <div class="col-sm-6">
                                <a href="/product/{{ sliderone.id }}/{{ sliderone.slug }}">
                                    <img src="{{sliderone.image.url}}" class="girl img-responsive" alt="" style="height: 350px"/>
                                </a>
                            </div>




                        </div>
                        {% for rs in sliderdata %}
                            <div class="item">
                                <div class="col-sm-6">
                                    <h1><span>E</span>-SHOPPER</h1>
                                    <h2>{{rs.title}}</h2>
                                    <p>{{rs.description}}</p>
                                    <a href="/product/{{ rs.id }}/{{ rs.slug }}" type="button" class="btn btn-default get">Nota bak</a>
                                </div>
                                <div class="col-sm-6">
                                    <a href="/product/{{ rs.id }}/{{ rs.slug }}">
                                        <img src=" {{rs.image.url}} " class="girl img-responsive" alt="" style="height: 350px"/>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}

                    </div>


                </div>

                <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>

        </div>

    </div>
</section>