<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Note Gallery</title>
</head>
<body>
<h2>{{ product.title }}</h2>
<hr>
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
<br>
<form class="" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group col-md-6">
        <input type="hidden" name="note_id" id="id_note_id" value="{{ product.id }}"/>
    </div>
    <label for="id_title">Title:</label>
    <div class="form-group col-md-6">
        <input type="text" name="title" class="form-control"  placeholder="title" maxlength="50"
               id="id_title"/>
    </div>
    <label for="id_image">Image:</label>
    <div class="form-group col-md-6">
        <input type="file" name="image" class="form-control" placeholder="image" accept="image/*" id="id_image"/>
    </div>
    <br>
    <div class="form-group col-md-6">
        <input type="submit" class="btn btn-primary pull-right" value="Update Image"/>
    </div>
</form>

<hr>
<h4>Yüklenen Resimler</h4>

{% for rs in images %}
    <img src="{{ rs.image.url }}" height="200"/>
{% endfor %}


</body>
</html>