{% extends "homebase.html" %}



{% block title %} User Notes List {{ setting.company }}{% endblock %}
{% block keywords %}{{ setting.keywords }}{% endblock %}
{% block description %}{{ setting.description }}{% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}'/>
{% endblock %}



{% block content %}
    {% load static %}
    <section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="/">Home</a>
                <li>/</li>
                </li>
                <li class="active">User Notes</li>
                <hr>
                <div id="contact-page" class="container">
                    <div class="bg">
                        <div class="row">
                            <div class="col-sm-12">

                                <div class="col-sm-3">
                                    {% include "user_panel.html" %}
                                </div>

                                <div class="col-sm-9">
                                    <div class="contact-info">
                                        <h2 class="title text-center">My Notes</h2>
                                        {% if messages %}
                                            {% for message in messages %}
                                                <div class="alert alert-{{ message.tags }}" role="alert">
                                                    {{ message }}
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                        <table class="table table-responsive">
                                            <tr>
                                                <a href="/user/addnote" class="btn btn-primary">Add Note</a>
                                                <br>
                                            </tr>
                                            <tr class="">
                                                <br>

                                                <th class="text-left">Image</th>
                                                <th class="text-left">Title</th>
                                                <th class="text-left">Category</th>
                                                <th class="text-left">Gallery</th>
                                                <th class="text-left">Status</th>
                                                <th class="text-left">Date</th>
                                                <th class="text-left">Detail</th>

                                            </tr>
                                            {% for rs in products %}
                                                <tr class="">
                                                    <td class="text-left"><a
                                                            href="/product/{{ rs.id }}/{{ rs.slug }}"
                                                            style="color: black"><img src="{{ rs.image.url }}"
                                                                                      style="height: 30px"></a></td>
                                                    <td class="text-left"><a
                                                            href="/product/{{ rs.id }}/{{ rs.slug }}"
                                                            style="color: black"><b>{{ rs.title }}</b></a></td>
                                                    <td class="text-left">{{ rs.category.title }}</td>
                                                    <td class="text-left">
                                                        <a href="javascript:;"
                                                           onclick="window.open('/user/noteaddimage/{{ rs.id }}', 'gallery', 'height=600, width=600, top=50, left=150')">
                                                            <img src="{% static '' %}images/gallery.png" height="30"/>
                                                        </a>
                                                    </td>
                                                    <td class="text-left">{{ rs.status }}</td>

                                                    <td class="text-left">{{ rs.create_at }}</td>
                                                    <td class="text-left"><a class="btn btn-primary pull-left"
                                                                             href="/user/noteedit/{{ rs.id }}">Edit</a>
                                                    </td>
                                                    <td class="text-left">
                                                        <a class="btn btn-primary pull-left"
                                                           href="/user/notedelete/{{ rs.id }}"
                                                           onclick="return confirm('Will be Delete! Are you Sure?')">Delete</a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ol>
        </div>

    </div>
    <div class="row">
{% endblock %}
